version: '3'

services:
  n8n:
    image: n8nio/n8n:latest
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=changeme
      - N8N_HOST=n8n.ezracise.work
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=development
      - WEBHOOK_URL=https://n8n.ezracise.work
    volumes:
      - ./n8n-data:/home/node/.n8n

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: n8n-strava-web
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./web:/app
    depends_on:
      - n8n
